ipython~=
numpy 建议用conda装自带mkl
scipy~=
matplotlib~=
pandas~=
scikit-learn~=
pygal(pip，还需要lxml)
seaborn~=
graphviz (决策树画图, 用conda 还得安一个python-graphviz)
mlxtend (Stacking算法, pip)
requests (http请求)
graphviz~=
mlxtend~=
ipykernel 建议用conda装
scikit-opt~=
sympy~=